# Node modules
node_modules

# Sessions and cache
sessions
.wwebjs_cache

# Git related
.git
.gitignore

# Environment variables
.env

# Logs
logs
*.log
npm-debug.log*

# Testing
coverage
sessions_test

# Development files
.vscode
.DS_Store
.idea

# Misc
README.md
LICENSE
.npmrc 