# Ignore node_modules
node_modules

# Ignore dotenv files
.env

# Ignore build files
dist

# Ignore sessions
sessions
sessions_test
.wwebjs_cache
.wwebjs_auth

# Ignore logs
logs

# Ignore test coverage reports
coverage

# Ignore other unnecessary files
.DS_Store
.vscode
